<h1>
Асканійський
</h1>
<div class='body'>
<p>	Загальнозоологічиий заказник площею 17746га. До нього входять сільськогосподарські землі в Чаплинському районі навкруги біосферного заповідника 
Асканія-Нова ім. Ф. Е. Фальц-Фейна і його охоронної зони. Створеним для охорони хребетних, а в деякій мірі і безхребетних. В основному охороняються ссавці і птахи, 
що мігрують із заповідних степів і зоологічного парку внаслідок того, що для багатьох видів територія степу замала, для ряду видів не підходить абсолютно 
заповідний режим, при якому немає зоологічного навантаження на степову рослинність, утворюється багато опаду, який в умовах сухого клімату не встигає розкладатися 
і накопичується в степу, а деяким видам заважає жити високий травостій заповідного степу.
<p>	</div>
