<h1>
Пам’ятки мистецтва
</h1>
<div class= "body" >
<p>Пам'ятка монументального мистецтва високохудожні твори скульптури, живопису та декоративного мистецтва, які можуть бути пов'язаними з архітектурними спорудами, так і самостійними, що характеризують світогляд, естетичні погляди і рівень розвитку культури певної історичної епохи.</p>
</div>