<h1>
Кременець, Почаїв
</h1>
<div class='body'>
<p>	Кременець — місто обласного значення в Тернопільській області України, центр району. Економічний і культурний осередок північної (волинської) 
частини області. Розташоване біля підніжжя Кременецьких гір. Відстань до обласного центру — 70 км. Є залізнична станція.
<p> 
Кременець – батьківщина великого польського поета Юліуша Словацького (1809 –1849). Тут минуло його дитинство. Кременець не міг не увійти у творчість поета.
<p> 
У 1829 р. Словацький заінчив Віденський університет. Навчаючись, на канікули завжди приїздив у Кременець. Після закінчення навчання він ще близько півроку проживав 
тут, а потім виїхав до Варшави. Там у 1830 році його застало польське визвольне повстання, після придушення якого він емігрував за кордон. Був в Швейцарії, Італії, 
подорожував Сходом. До Кременця поет більше ніколи не повернувся. Помер у Парижі. 
<p> 
У Кременці на вулиці Словацького, 26, зберігся будинок, де пройшли дитячі роки Юліуша. Тепер у ньому – бібліотека, яка носить ім‘я поета. В 1969 р. на подвір‘ї 
встановили погруддя Словацького роботи народного художника УРСР В. З. Бородая. А на околиці міста, в районі Калинівки, видніються мальовничі скелі, куди юнак часто 
любив приходити, — скелі Словацького. В соту річницю з дня народження славетного поляка в стіну костелу було вмуровано пам‘ятник-барельєф, таємно від царського 
уряду привезений з Парижа. Автор його- видатний польський скульптор В. Шимановський. 
<p> 
1846 року за дорученням Археографічної комісії Кременець відвідав Т. Шевченко, у березні 1847 р. в місті з двома концертами виступав Ференц Ліст. 
<p> 
Кременець – місто невелике, воно витягнулося вздовж однієї центральної вулиці, тому прогавити 
<p>	якусь з пам‘яток міста важко. І парафіяльний костел, і Миколаївська церква (XVI ст.) з ошатною барочною дзвіницею (XVIII ст.), і 
Колегіум, і жіночий Богоявленський монастир з високою дзвіницею (1636 р.) – всі ці споруди розташовані одна за другою, майже поруч. А над містом – Замкова гора 
(Бона) з руїнами надворотної вежі з арковим готичним проїздом та мурів. Гарно. Хоча трошки картину псує місцевий телепередатчик, що розташований на території 
фортеці.
<p> 
Трохи осторонь знаходяться лише знамениті будинки-близнюки (XVII-XVIII ст.). Це, по суті, один будинок, який складається з двох симетричних частин, з‘єднаних 
загальною центральною стіною, ліва частина повторює праву майже у всьому. Люди говорть, колись тут жили два брати-близнюки.
<p> 
Є у місті і краєзнавчий музей. По середах він не працює.</div>
