<h1>
Бакайський
</h1>
<div class='body'>
<p>	Лісовий заказник площею 420га. Розташований у гирлі Дніпра, в його передлиманній частині в Білозерському районі. Суходіл і акваторія представлені 
типовими нижньодніпровськими плавнями. Є третинні релікти — плавун щитолистий (Нymphoides pultafa), наяда морська (Najas marina), вольфія безкоренева 
(Wolffia arrhiza). Багатий тваринний світ, особливо орнітокомплекс. На деревах, а також на заломах очерету розташовані гнізда колоній чаплі сірої (Аrdeа сіnerea), 
яка тут найчисельніша, чаплі малої білої (Еgretta garzetta), квака (Nycticorax nycticorax). Поблизу цих колоній знаходяться гнізда найдрібнішої з чапель — чаплі 
жовтої (А rdeola ralloides), а також коровайки (Plegadis faicinellus). На окремих вербах з покрученим стовбурами розташовані гнізда бакланів. Є тут лиски, чомга та 
інші види птахів, життєдіяльність яких пов'язана з плавнями.
<p>	</div>
