<pre>1:<br>{
    "caption": "Карпатський національний природний парк",
    "mapGeneral": {
        "lat": 48.228986,
        "lng": 24.576759,
        "zoom": 10
    },
    "marker": {
        "lat": 48.228986,
        "lng": 24.576759
    }
}</pre><hr><pre>2:<br>{
    "caption": "Пересопниця",
    "mapGeneral": {
        "lat": 50.670524,
        "lng": 25.991141,
        "zoom": 13
    },
    "marker": {
        "lat": 50.670524,
        "lng": 25.991141
    }
}</pre><hr><pre>3:<br>{
    "caption": "Дубенський замок",
    "mapGeneral": {
        "lat": 50.4194889,
        "lng": 25.7481767,
        "zoom": 17
    },
    "marker": {
        "lat": 50.4194889,
        "lng": 25.7481767
    }
}</pre><hr><pre>4:<br>{
    "caption": "Зимненський Свято-Успенський Святогірський жіночий монастир",
    "mapGeneral": {
        "lat": 50.801667,
        "lng": 24.3275,
        "zoom": 17
    },
    "marker": {
        "lat": 50.801667,
        "lng": 24.3275
    }
}</pre><hr><pre>5:<br>{
    "caption": "Острозький замок",
    "mapGeneral": {
        "lat": 50.32668,
        "lng": 26.521292,
        "zoom": 17
    },
    "marker": {
        "lat": 50.32668,
        "lng": 26.521292
    }
}</pre><hr><pre>6:<br>{
    "caption": "Музей Лесі Українки",
    "mapGeneral": {
        "lat": 51.181431,
        "lng": 24.800058,
        "zoom": 13
    },
    "marker": {
        "lat": 51.181431,
        "lng": 24.800058
    }
}</pre><hr><pre>7:<br>{
    "caption": "Берестечко",
    "mapGeneral": {
        "lat": 50.362936,
        "lng": 25.111581,
        "zoom": 13
    },
    "marker": {
        "lat": 50.362936,
        "lng": 25.111581
    }
}</pre><hr><pre>8:<br>{
    "caption": "Кременець, Почаїв",
    "mapGeneral": {
        "lat": 50.054921,
        "lng": 25.59866,
        "zoom": 11
    },
    "marker": {
        "lat": 50.107288,
        "lng": 25.72366
    }
}</pre><hr><pre>9:<br>{
    "caption": "Музей бурштину",
    "mapGeneral": {
        "lat": 50.62301,
        "lng": 26.248918,
        "zoom": 18
    },
    "marker": {
        "lat": 50.62301,
        "lng": 26.248918
    }
}</pre><hr><pre>10:<br>{
    "caption": "Замок Любарта",
    "mapGeneral": {
        "lat": 50.738914,
        "lng": 25.323439,
        "zoom": 18
    },
    "marker": {
        "lat": 50.738914,
        "lng": 25.323439
    }
}</pre><hr><pre>11:<br>{
    "caption": "До забутих пам’яток України, які дійсно є надзвичайними відносяться",
    "mapGeneral": {
        "lat": 49.194037,
        "lng": 23.582821,
        "zoom": 8
    },
    "marker": {
        "lat": 48.620556,
        "lng": 22.307675
    }
}</pre><hr><pre>12:<br>{
    "caption": "Національний історико-архітектурний заповідник «Кам’янець»",
    "mapGeneral": {
        "lat": 48.673318,
        "lng": 26.574511,
        "zoom": 12
    },
    "marker": {
        "lat": 48.673318,
        "lng": 26.574511
    }
}</pre><hr><pre>13:<br>{
    "caption": "Херсонес Таврійський",
    "mapGeneral": {
        "lat": 44.612479,
        "lng": 33.490233,
        "zoom": 16
    },
    "marker": {
        "lat": 44.612479,
        "lng": 33.490233
    }
}</pre><hr><pre>14:<br>{
    "caption": "Софія Київська",
    "mapGeneral": {
        "lat": 50.452951,
        "lng": 30.514307,
        "zoom": 16
    },
    "marker": {
        "lat": 50.452951,
        "lng": 30.514307
    }
}</pre><hr><pre>15:<br>{
    "caption": "Державний історико-архітектурний заповідник ",
    "mapGeneral": {
        "lat": 48.521922,
        "lng": 26.498265,
        "zoom": 16
    },
    "marker": {
        "lat": 48.521922,
        "lng": 26.498265
    }
}</pre><hr><pre>16:<br>{
    "caption": "Києво-Печерська лавра",
    "mapGeneral": {
        "lat": 50.43472,
        "lng": 30.55717,
        "zoom": 16
    },
    "marker": {
        "lat": 50.43472,
        "lng": 30.55717
    }
}</pre><hr><pre>17:<br>{
    "caption": "Луцький зоопарк",
    "mapGeneral": {
        "lat": 50.741197,
        "lng": 25.338846,
        "zoom": 16
    },
    "marker": {
        "lat": 50.741197,
        "lng": 25.338846
    }
}</pre><hr><pre>18:<br>{
    "caption": "Харківський зоопарк",
    "mapGeneral": {
        "lat": 50.003151,
        "lng": 36.224816,
        "zoom": 16
    },
    "marker": {
        "lat": 50.003151,
        "lng": 36.224816
    }
}</pre><hr><pre>19:<br>{
    "caption": "Одеський зоопарк",
    "mapGeneral": {
        "lat": 46.466513,
        "lng": 30.731839,
        "zoom": 16
    },
    "marker": {
        "lat": 46.466513,
        "lng": 30.731839
    }
}</pre><hr><pre>20:<br>{
    "caption": "Миколаївський зоопарк",
    "mapGeneral": {
        "lat": 46.959837,
        "lng": 32.036744,
        "zoom": 16
    },
    "marker": {
        "lat": 46.959837,
        "lng": 32.036744
    }
}</pre><hr><pre>21:<br>{
    "caption": "Ялтинський зоопарк «Казка»",
    "mapGeneral": {
        "lat": 44.494454,
        "lng": 34.11852,
        "zoom": 16
    },
    "marker": {
        "lat": 44.494454,
        "lng": 34.11852
    }
}</pre><hr><pre>22:<br>{
    "caption": "Краснокутський",
    "mapGeneral": {
        "lat": 50.081656,
        "lng": 35.165364,
        "zoom": 14
    },
    "marker": {
        "lat": 50.081656,
        "lng": 35.165364
    }
}</pre><hr><pre>23:<br>{
    "caption": "Клесівський",
    "mapGeneral": {
        "lat": 51.317498,
        "lng": 26.865041,
        "zoom": 14
    },
    "marker": {
        "lat": 51.317498,
        "lng": 26.865041
    }
}</pre><hr><pre>24:<br>{
    "caption": "Полтавський",
    "mapGeneral": {
        "lat": 49.619504,
        "lng": 34.553531,
        "zoom": 14
    },
    "marker": {
        "lat": 49.619504,
        "lng": 34.553531
    }
}</pre><hr><pre>25:<br>{
    "caption": "Софіївка",
    "mapGeneral": {
        "lat": 48.763343,
        "lng": 30.233408,
        "zoom": 13
    },
    "marker": {
        "lat": 48.763343,
        "lng": 30.233408
    }
}</pre><hr><pre>26:<br>{
    "caption": "Березнівський",
    "mapGeneral": {
        "lat": 51.009379,
        "lng": 26.742589,
        "zoom": 15
    },
    "marker": {
        "lat": 51.009379,
        "lng": 26.742589
    }
}</pre><hr><pre>27:<br>{
    "caption": "Веселі Боковеньки",
    "mapGeneral": {
        "lat": 48.217389,
        "lng": 32.859344,
        "zoom": 13
    },
    "marker": {
        "lat": 48.217389,
        "lng": 32.859344
    }
}</pre><hr><pre>28:<br>{
    "caption": "Олександрія",
    "mapGeneral": {
        "lat": 49.812222,
        "lng": 30.067222,
        "zoom": 13
    },
    "marker": {
        "lat": 49.812222,
        "lng": 30.067222
    }
}</pre><hr><pre>29:<br>{
    "caption": "Тростянець",
    "mapGeneral": {
        "lat": 50.78999,
        "lng": 32.81766,
        "zoom": 13
    },
    "marker": {
        "lat": 50.78999,
        "lng": 32.81766
    }
}</pre><hr><pre>30:<br>{
    "caption": "Кіровоградський",
    "mapGeneral": {
        "lat": 48.499927,
        "lng": 32.231633,
        "zoom": 13
    },
    "marker": {
        "lat": 48.499927,
        "lng": 32.231633
    }
}</pre><hr><pre>31:<br>{
    "caption": "Чернівецький",
    "mapGeneral": {
        "lat": 48.298199,
        "lng": 25.922986,
        "zoom": 15
    },
    "marker": {
        "lat": 48.298199,
        "lng": 25.922986
    }
}</pre><hr><pre>32:<br>{
    "caption": "Сторожинецький",
    "mapGeneral": {
        "lat": 48.145832,
        "lng": 25.682266,
        "zoom": 15
    },
    "marker": {
        "lat": 48.145832,
        "lng": 25.682266
    }
}</pre><hr><pre>33:<br>{
    "caption": "Національний природний парк Шацький",
    "mapGeneral": {
        "lat": 51.530014,
        "lng": 23.810484,
        "zoom": 10
    },
    "marker": {
        "lat": 51.530014,
        "lng": 23.810484
    }
}</pre><hr><pre>34:<br>{
    "caption": "Національний природний парк “Нижньодністровський”",
    "mapGeneral": {
        "lat": 46.391824,
        "lng": 30.209398,
        "zoom": 11
    },
    "marker": {
        "lat": 46.391824,
        "lng": 30.209398
    }
}</pre><hr><pre>35:<br>{
    "caption": "Національний природний парк “Святі гори”",
    "mapGeneral": {
        "lat": 48.979434,
        "lng": 37.708751,
        "zoom": 10
    },
    "marker": {
        "lat": 48.979434,
        "lng": 37.708751
    }
}</pre><hr><pre>36:<br>{
    "caption": "Національний природний парк “Синевир”",
    "mapGeneral": {
        "lat": 48.512494,
        "lng": 23.708839,
        "zoom": 11
    },
    "marker": {
        "lat": 48.512494,
        "lng": 23.708839
    }
}</pre><hr><pre>37:<br>{
    "caption": "Національний природній парк “Голосіївський”",
    "mapGeneral": {
        "lat": 50.290538,
        "lng": 30.570147,
        "zoom": 11
    },
    "marker": {
        "lat": 50.290538,
        "lng": 30.570147
    }
}</pre><hr><pre>38:<br>{
    "caption": "Національний природний парк “Гуцульщина”",
    "mapGeneral": {
        "lat": 48.309927,
        "lng": 24.973297,
        "zoom": 10
    },
    "marker": {
        "lat": 48.309927,
        "lng": 24.973297
    }
}</pre><hr><pre>39:<br>{
    "caption": "Національний природний парк “Сколівські Бескиди”",
    "mapGeneral": {
        "lat": 49.078023,
        "lng": 23.399803,
        "zoom": 11
    },
    "marker": {
        "lat": 49.078023,
        "lng": 23.399803
    }
}</pre><hr><pre>40:<br>{
    "caption": "Гетьманський національний природний парк",
    "mapGeneral": {
        "lat": 50.348255,
        "lng": 34.939878,
        "zoom": 10
    },
    "marker": {
        "lat": 50.348255,
        "lng": 34.939878
    }
}</pre><hr><pre>41:<br>{
    "caption": "Дермансько-Острозький національний природний парк",
    "mapGeneral": {
        "lat": 50.291253,
        "lng": 26.242454,
        "zoom": 12
    },
    "marker": {
        "lat": 50.291253,
        "lng": 26.242454
    }
}</pre><hr><pre>42:<br>{
    "caption": "Біосферний заповідник ",
    "mapGeneral": {
        "lat": 46.472759,
        "lng": 33.963216,
        "zoom": 11
    },
    "marker": {
        "lat": 46.472759,
        "lng": 33.963216
    }
}</pre><hr><pre>43:<br>{
    "caption": "Асканійський цілинний заповідний степ",
    "mapGeneral": {
        "lat": 46.472759,
        "lng": 33.963216,
        "zoom": 10
    },
    "marker": {
        "lat": 46.472759,
        "lng": 33.963216
    }
}</pre><hr><pre>44:<br>{
    "caption": "Чорноморський біосферний заповідник",
    "mapGeneral": {
        "lat": 46.5375,
        "lng": 32.538889,
        "zoom": 10
    },
    "marker": {
        "lat": 46.5375,
        "lng": 32.538889
    }
}</pre><hr><pre>45:<br>{
    "caption": "Карпатський біосферний заповідник",
    "mapGeneral": {
        "lat": 48.119446,
        "lng": 24.480114,
        "zoom": 11
    },
    "marker": {
        "lat": 48.119446,
        "lng": 24.480114
    }
}</pre><hr><pre>46:<br>{
    "caption": "Дунайський біосферний заповідник",
    "mapGeneral": {
        "lat": 45.41218,
        "lng": 29.644072,
        "zoom": 10
    },
    "marker": {
        "lat": 45.41218,
        "lng": 29.644072
    }
}</pre><hr><pre>47:<br>{
    "caption": "Бакайський",
    "mapGeneral": {
        "lat": 46.5,
        "lng": 32.3,
        "zoom": 12
    },
    "marker": {
        "lat": 46.5,
        "lng": 32.3
    }
}</pre><hr><pre>48:<br>{
    "caption": "Березові гайки",
    "mapGeneral": {
        "lat": 46.443766,
        "lng": 32.222501,
        "zoom": 12
    },
    "marker": {
        "lat": 46.443766,
        "lng": 32.222501
    }
}</pre><hr><pre>49:<br>{
    "caption": "Ягорлицький",
    "mapGeneral": {
        "lat": 46.4,
        "lng": 31.866667,
        "zoom": 11
    },
    "marker": {
        "lat": 46.4,
        "lng": 31.866667
    }
}</pre><hr><pre>50:<br>{
    "caption": "Джарилгацький",
    "mapGeneral": {
        "lat": 46.02704,
        "lng": 32.894768,
        "zoom": 11
    },
    "marker": {
        "lat": 46.02704,
        "lng": 32.894768
    }
}</pre><hr><pre>51:<br>{
    "caption": "Саги",
    "mapGeneral": {
        "lat": 46.601897,
        "lng": 32.78653,
        "zoom": 11
    },
    "marker": {
        "lat": 46.601897,
        "lng": 32.78653
    }
}</pre><hr><pre>52:<br>{
    "caption": "Бакайський жолоб",
    "mapGeneral": {
        "lat": 46.533333,
        "lng": 32.316667,
        "zoom": 11
    },
    "marker": {
        "lat": 46.533333,
        "lng": 32.316667
    }
}</pre><hr><pre>53:<br>{
    "caption": "Інгулецький лиман",
    "mapGeneral": {
        "lat": 46.697502,
        "lng": 32.829981,
        "zoom": 11
    },
    "marker": {
        "lat": 46.697502,
        "lng": 32.829981
    }
}</pre><hr><pre>54:<br>{
    "caption": "Хрестова сага",
    "mapGeneral": {
        "lat": 46.447521,
        "lng": 32.007836,
        "zoom": 11
    },
    "marker": {
        "lat": 46.447521,
        "lng": 32.007836
    }
}</pre><hr><pre>55:<br>{
    "caption": "Шаби",
    "mapGeneral": {
        "lat": 46.466667,
        "lng": 32.15,
        "zoom": 11
    },
    "marker": {
        "lat": 46.466667,
        "lng": 32.15
    }
}</pre><hr><pre>56:<br>{
    "caption": "Інгулець",
    "mapGeneral": {
        "lat": 47.347778,
        "lng": 33.310278,
        "zoom": 12
    },
    "marker": {
        "lat": 47.347778,
        "lng": 33.310278
    }
}</pre><hr><pre>57:<br>{
    "caption": "Корсунський",
    "mapGeneral": {
        "lat": 46.7,
        "lng": 33.133333,
        "zoom": 11
    },
    "marker": {
        "lat": 46.7,
        "lng": 33.133333
    }
}</pre><hr><pre>58:<br>{
    "caption": "Асканійський",
    "mapGeneral": {
        "lat": 46.416667,
        "lng": 33.983333,
        "zoom": 11
    },
    "marker": {
        "lat": 46.416667,
        "lng": 33.983333
    }
}</pre><hr><pre>59:<br>{
    "caption": "Софіївський",
    "mapGeneral": {
        "lat": 46.587267,
        "lng": 32.225898,
        "zoom": 11
    },
    "marker": {
        "lat": 46.587267,
        "lng": 32.225898
    }
}</pre><hr><pre>60:<br>{
    "caption": "Широка Балка",
    "mapGeneral": {
        "lat": 46.566667,
        "lng": 32.2,
        "zoom": 11
    },
    "marker": {
        "lat": 46.566667,
        "lng": 32.2
    }
}</pre><hr><pre>61:<br>{
    "caption": "Домузла",
    "mapGeneral": {
        "lat": 46.15,
        "lng": 33.333333,
        "zoom": 11
    },
    "marker": {
        "lat": 46.15,
        "lng": 33.333333
    }
}</pre><hr><pre>62:<br>{
    "caption": "Каїрська балка",
    "mapGeneral": {
        "lat": 46.928056,
        "lng": 33.785278,
        "zoom": 11
    },
    "marker": {
        "lat": 46.928056,
        "lng": 33.785278
    }
}</pre><hr><pre>63:<br>{
    "caption": "Геологічні ресурси",
    "mapGeneral": {
        "lat": 49.783669,
        "lng": 30.112287,
        "zoom": 6
    },
    "marker": {
        "lat": 45.423548,
        "lng": 28.630913
    }
}</pre><hr>