<h1>
Чернівецький
</h1>
<div class='body'>
<p>	Місто Чернівці. Територія парку приблизно 4,8 га.
<p> 
Як відомо, справжнім ландшафтним дивом міста є університет імені Ю. Федьковича. Дендропарк був закладений тут ще у 1876 році 
за головним корпусом колишньої Резиденції православних митрополитів Буковини і Далмації, як власне і служить зараз частиною 
університету.
<p> 
Окрім 100 видів та форм дерев і чагарників росте справжнє ботанічне диво – тринога яблуня. Красива алея обрамлює прохід до 
невеличкого басейну з магноліями та плакучими вербами. А неподалік розташована сталактитова печера (імітація).
<p> 
Басейни та фонтани, алеї з асиметричною посадкою дерев, галявини із затишними баскетами.
<p> 
Тишу і спокій парку береже кам'яний мур, що зі всіх сторін огортає його триметровою завісою.
<p>	</div>
