<h1>
Олександрія
</h1>
<div class='body'>
<p>	Місто Біла Церква Київської області. Займає площу понад 290 га.
<p> 
Дендропарк є найбільшим і найстарішим із собі подібних в Україні. Розташований на березі річки Рось. Має багато декоративних 
водойм.
<p> 
Архітектура парку виконана у стилі доби Класицизму.
<p> 
Спорудження парку почалось вкінці XVIII століття за вказівкою графа Браницького. Жіноче ім `я національного парку – честь 
дружини його засновника.
<p> 
З часу заснування тут побуває багато відомих постатей. Олександрії присвячуватимуть вірші і поеми. На жаль, єдиною спорудою, 
яка уціліла з часу первинного оформленя парку є Будинок садівника.
<p> 
Красиві унікальні рослини і романтичні будівлі, якими можна милуватися у наш час, створюють неповторну композицію рукотворного 
дива, що вражає все нових відвідувачів.
<p>	</div>
