<h1>
    Функцій ГІС
</h1>
<div class="body">
    <p>Умовно функції ГІС можна поділити на п'ять груп, при цьому перші три належать до традиційних функцій
        геоінформаційних технологій, останні дві – до нових, що розвинулися останнім десятиліттям.
    <ol>
        <li>Інформаційно-довідкова функція – створення і ведення банків просторово-координованої інформації, у тому
            числі:створення цифрових (електронних) атласів; створення й експлуатація кадастрових систем, у першу чергу
            автоматизованих земельних інформаційних систем.
        </li>
        <li>Функція автоматизованого картографування – створення високоякісних загальногеографічних і тематичних карт,
            що задовольняють сучасні вимоги до картографічної продукції.
        </li>
        <li>Функція просторового аналізу і моделювання природних, природно-господарських та соціально-економічних
            територіальних систем, що ґрунтується на унікальних можливостях, наданих картографічною алгеброю,
            геостатистикою і мережним аналізом, які складають основу аналітичних блоків сучасних інструментальних ГІС з
            розвинутими аналітичними можливостями. Вона реалізується в наукових дослідженнях, а також вирішенні широкого
            кола прикладних завдань при територіальному плануванні, проектуванні і управлінні.
        </li>
        <li>Функція моделювання процесів у природних, природно-господарських і соціально-економічних територіальних
            системах.
        </li>
        <li>Функція підтримки прийняття рішень у плануванні, проектуванні та управлінні. Найбільш активно цей напрямок в
            Україні розвивається в містобудівному плануванні і проектуванні. Певні успіхи є в галузі геоінформаційного
            забезпечення надзвичайних ситуацій.
        </li>
    </ol>
    <p>Головна відмінність технологій ГІС від технологій сховищ даних, побудованих на основі реляційної моделі, полягає
        у встановленні зв'язку між картографічною інформацією та тематичними даними у формі реляційних баз даних. Це дає
        змогу в інтерактивному режимі легко переходити від табличного подання данних до картографічного і навпаки, або
        суміщувати їх. Тому можливість комбінувати геометричні та атрибутивні дані визначає якісно новий підхід до
        аналізу данних з метою прийняття на його основі обгрунтованого рішення.
</div>