<h1>
    Дунайський біосферний заповідник
</h1>
<div class='body'>
    <p> Дунайський біосферний заповідник створено на базі заповідника Дунайські плавні в 1998 р. на площі 46 403 га.
        Знаходиться він в Килійській дельті
        Дунаю. Дельта порізана рукавами, каналами, в ній багато озер. У межах заповідника розташовані острови
        Анкундинів, Єрмаків, Кубанський, Полуденний. За Рамсарською
        конвенцією заповідник має статус водно-болотних угідь міжнародного значення. Тут гніздяться і мешкають
        водоплавні й навколоводні численні пташині зграї. Багатий та
        різноманітний рослинний і тваринний світ заповідника. Серед 950 видів судинних рослин багато псамофітів та
        північнопричорноморських ендемів: жовтозілля дніпровське,
        козельці українські й дніпровські, громовик дніпровський, ковила дніпровська, верблюдка українська та ін.
        Ростуть три види водяного горіха, на солончакових ґрунтах
        поширений кермек дунайський, сотник високий, курай содовий, солонець європейський.
    <p>
        Великі площі займають очерет, осока гостролиста, чистець болотний, плакун верболистий, м'ята водяна та ін. До
        Червоної книги занесено 14 видів рослин і серед них
        меч-трава болотна, зозулинець болотний, альдрованда пухирчаста, сальвінія плаваюча, водяний горіх, ковила
        дніпровська та ін. 5 тис. видів тварин заповідника 4,5
        тис. становлять комахи, які поділяються на ентомокомплекси: лісовий, чагарниковий, заплавний, солончаковий,
        очеретяний. У дельті налічується понад 250 видів птахів,
        із них до Червоної книги України та Європейського червоного списку занесено 43 види. Для багатьох рідкісних
        птахів, таких як баклана малого, пелікана кучерявого,
        орлана-білохвоста та ін., заповідна дельта є основним місцем існування їх популяцій.
    <p>
        Звичайно, на водно-болотних угіддях наявні численні популяції земноводних, перш за все жаб. Озерної, їстівної і
        ставкової жаб скупчується до 10-20 тис. на гектар.
        Водяться також кумка червоночерева, квакша звичайна, тритони звичайний і дунайський, вуж звичайний, черепаха
        болотяна та ін. У гирлах, протоках, озерах водяться
        осетер атлантичний, лосось чорноморський та ін. У прибережних водах з'являються чорноморські дельфіни і єдиний
        представник ластоногих Чорного моря тюлень-монах.
        Зустрічаються видра річкова, горностай, норка європейська, кіт дикий лісовий.
</div>
