<h1>
Заказники та пам'ятки природи
</h1>
<div class= "body" >
<p>Пам'ятка природи — природоохоронна територія, на якій розташований окремий унікальний природний об'єкт, який охороняється державою і є цінним за своїм науковим, навчально-просвітницьким, історико-меморіальним або культурно-естетичним значенням. До пам'яток природи належать, наприклад, унікальні геологічні відслонення, печери, водоспади, озера, метеоритні кратери тощо. Пам'яткою природи може бути, наприклад, одне рідкісне дерево або території значних розмірів — ліси, гірські хребти, ділянки узбережжя і долин. У такому разі вони часто іменуються урочищами або природоохоронними ландшафтами. Згідно з класифікацією Міжнародного Союзу Охорони Природи, пам'ятка природи має природоохоронну категорію III, проміжну між національними парками і заказниками, хоча детальний правовий статус залежить від конкретної країни.</p>
<p>Заказники або зака́зники — природоохоронні об'єкти. На відміну від заповідників можуть бути постійними або тимчасовими; у заказниках можливе часткове взяття під охорону тварин, рослин та інших природних ресурсів.</p>
</div>