<h1>
Софія Київська
</h1>
<div class='body'>
<p>	всесвітньо відома пам'ятка архітектури і монументального живопису ХI століття. Заснування собору згадується 
в літописах як під 1017 р., так і під 1037 р. Будівничим Cв. Софії літописці називають великого київського князя Ярослава 
Мудрого. Джерела свідчать, що в цій справі Ярослав завершив починання свого батька Володимира — хрестителя Русі. Присвячений 
Премудрості Божій, собор, за задумом творців, мав утверджувати на Русі християнство.
<p> 
Упродовж сторіч Софія Київська була головною святинею Русі-України — митрополією руською. Собор, як головний храм держави, 
відігравав роль духовного, політичного та культурного центру. Під склепінням Cв. Софії відбувалися урочисті посадження на 
великокняжий престол, церковні собори, прийоми послів, затвердження політичних угод.
<p> 
При соборі велося літописання і були створені перші відомі на Русі бібліотека та школа. На честь заснування Ярославом 1037 р. 
софійської бібліотеки перед входом до собору в 1969 р. було встановлено пам'ятний знак (скульптор І. Кавалерідзе).
<p>	Софія — свідок й безпосередній учасник життя Києва протягом багатьох сторіч. Вона пережила навалу орд степових кочовиків у 
грізному 1240 році, періоди занепаду й відродження міста у XIV—XVI століттях, бачила національно-визвольну боротьбу 
українського народу під керівництвом Богдана Хмельницького проти польсько-литовських феодалів у XVII столітті.</div>
