<h1>
Миколаївський зоопарк
</h1>
<div class='body'>
<p>	Цей зоопарк був заснований в 1901 році, як приватний акваріум–музей. Він по праву вважається одним з кращих 
зоопарків України, і навіть входить в престижну організацію WAZA.
<p> 
Популярністю користуються хижаки – леви, тигри, ведмеді. Тут живе найстаріша тварина в країні – 60–річний крокодил Вася. Ще 
зоопарк може похвалитися 8–метровим пітоном на прізвисько Сітка. Це – найбільша змія в Європі.
<p>	</div>
