<h1>
Населення
</h1>
<div class= "body" >
<p>В Україні нарахували 42,99 млн населення, що на 226 тис. менше, ніж за аналогічний період минулого року. Водночас це найменша цифра за останні п'ять років. Проте працівники статистики наголошують, що не змогли в цю цифру включити жителів окупованого Криму, передає УНІАН. На 1 червня 2010 року чисельність населення країни становила 43,53 млн осіб, 2011-го – 43,35 млн осіб, 2012-го – 43,22 млн осіб, а 2013-го – 43,13 млн осіб. Середня чисельність населення за січень-травень 2014 року скоротилася на 133 тис. осіб і становила 43,03 млн осіб.</p>
</div>