<h1>
    Ботанічний сад
</h1>
<div class='body'>
    <p> науково-дослідницький та культурно-просвітницький заклад, в якому проводиться накопичення колекцій флори
        з метою її вивчення, збереження, культивування й акліматизації; пошук і добір рослин, перспективних для
        створення зелених
        насаджень і здійснення інших видів господарської діяльності; робота щодо збереження генофонду рослинного світу.
        У ботанічному
        саду створюються ділянки рідкісних і звичайних рослин, а також місцевої природної рослинності. Розрізняють
        ботанічний сад
        державного та місцевого значення.
    <p>
        В Україні існує більше 50 ботанічних садів, але найвідоміші представлено нижче:
    <ul>
        <li>Ботанічний сад Дніпропетровського Університету (1930р., 18 га, 3000 видів).</li>
        <li>Ботанічний сад Житомирського Сільськогосподарського Інституту (Коледжу) (1933р., 35,4 га, 1000 видів).</li>
        <li>Ботанічний сад ім. акад. О. В. Фоміна Київського Університету (1841р., 22,5 га, 10000 видів).</li>
        <li>Ботанічний сад Волинського Університету, м. Луцьк (1977р., 10 га, 500 видів).</li>
        <li>Ботанічний сад Львівського Університету (1911р., 18,5 га, 1200 видів).</li>
        <li>Ботанічний сад Одеського Університету (1880р., 16 га, 2000 видів).</li>
        <li>Ботанічний сад Ужгородського Університету (1946 р., 4,5 га, 300 видів).</li>
        <li>Ботанічний сад Харківського Університету (1804р., 5,5 га, 1700 видів).</li>
        <li>Ботанічний сад Чернівецького Університету (1877р., 3,5 га, 1300 видів).</li>
        <li>Ботанічний сад Донецька (1965р., 275,5 га, 8600 видів).</li>
        <li>Ботанічний сад Каменец-подільська, Хмельницький район (1930р., 17,5 га, 2800 видів).</li>
        <li>Никітський ботанічний сад, республіка Крим (1812р., 147. 9 га, 15000 видів).</li>
        <li>Центральний ботанічний сад ім. M. M. Хрішко, м. Київ (1936р., 130 га, 13000 видів).</li>
    </ul>
</div>
