<h1>
Асканійський цілинний заповідний степ
</h1>
<div class='body'>
<p>	єдиний в Європі великий масив малозмінених сухостепових ландшафтів. Тут представлені справжні, чагарникові й лучні степи, водно-болотні комплекси.
<p> 
На плакорах переважають щільнокущові ковили, костриця валійська, кипець гребінчастий, різнотрав'я; у зниженнях вологолюбні кореневищні злаки: бекманія вузьколиста, 
стоколос безостий, тонконіг вузьколистий. Поширені рідкісні, ендемічні та зникаючі види рослин. Серед них занесені до Червоної книги України ковили українська, 
Лессінга, тюльпани скіфський і Шренка, зіркоплідник частухоподібний та ін.
<p> 
У заповіднику охороняються журавель степовий, дрохва, хохітва, гадюка степова, чотирисмугий полоз та ін. У великому Чапельському поді випасаються тварини, завезені 
з усіх континентів: зубри, бізони, плямисті олені, європейські муфлони, кінь Пржевальського, кулан туркменський, зебра Греві, гвинторога коза, гривастий баран, 
сайгак, сибірський козерог та ін. У зоопарку утворено орнітопарк, в якому утримуються промислово-мисливські та декоративні птахи, серед них червоновола казарка, 
вінценосний журавель, гірська гуска, рожевий фламінго. В зоопарку проводять наукові дослідження з гібридизації та одомашнення диких тварин. У ландшафтному 
дендрологічному 
<p>	парку створено лісові, лісостепові, приозерні, садово-паркові комплекси, водойми, пагорби, проводять роботи з акліматизації та інтродукції нових 
декоративних рослин, степового лісорозведення. Заповідник Асканія-Нова входить до міжнародної системи біосферних заповідників, бере участь у глобальній системі 
біосферного моніторингу. Його збереження має велике наукове і практичне значення.</div>
