<h1>
    Географічні дані в ГІС
</h1>
<div class="body">
    <p>Як джерело просторових даних для ГІС зберігають свою актуальність географічні карти. Для просторового
        прив'язування і копіювання даних при побудові багатьох картографічних баз даних, включаючи тематичні карти і
        цифрові моделі рельєфу, використовуються топографічні карти — загальногеографічні карти універсального
        призначення, що докладно зображують місцевість.</p>
    <p>Топографічні карти поділяють на великомасштабні (1: 50000 і більше), середньомасштабні (1: 100000 — 1: 500000) і дрібномасштабні, або оглядово- топографічні (дрібніше 1: 500000). Великомасштабні топографічні
        карти (1: 50000,1: 25000 і 1: 10000) створюються за матеріалами польових топографічних зйомок, а всі інші —
        складаються камерально за більш великомасштабними картами. Похибка при відображенні будь-якого об'єкта на
        поліграфічному відбитку карти має не перевищувати 0,1 мм. Виходячи з цієї величини, можна визначити величину
        систематичної похибки і, відповідно, точність цифрової карти, побудованої на основі топокарти обраного масштабу.
        Для масштабу 1: 200 000 закладена похибка становитиме близько 20 м, для 1: 100 000 — 10 м, для 1: 10 000 – 1 м.
        Таким чином, для одержання підсумкової точності цифрової карти 1 м і нижче необхідно використовувати топокарти
        масштабу 1: 10 000 або матеріали спеціальної топографічної зйомки.</p>
    <p>Для визначення висотних координатних систем використовуються рефренц- еліпсоїди — геометричні моделі усередненої
        поверхні земної кулі.</p>
    <p>За топокартами можна визначити і безпосередньо цифрувати такі просторові об'єкти:</p>
    <ul>
        <li>систему координат (географічну чи топографічну);</li>
        <li>місце розташування і висоти пунктів опорної геодезичної мережі;</li>
        <li>оцінки висот рельєфу, контури і глибину ерозійних форм;</li>
        <li>місце розташування гідрографічних об'єктів, оцінки урізів води, глибин, ширини русла, швидкості і напрямку
            течії;
        </li>
        <li>назву населеного пункту, кількість будинків, тип і контури великих будівель, кар'єрів та ін.;</li>
        <li>тип покриття, ширину проїжджої частини й узбіччя для автодоріг, конструкцію, довжину і вантажопідйомність
            мостів, висоту (глибину) насипів і виїмок;
        </li>
        <li>контури лісових масивів або ділянок природної рослинності, тип деревних порід, висоту і густоту рослинності,
            ширину лісосмуг;
        </li>
        <li>місце розташування і тип елементів лінійної технічної інфраструктури (ЛЕП, трубопроводи).</li>
    </ul>
    <p>Найбільш достовірним джерелом інформації про контури водних просторів, глибини і характер дна є навігаційні
        карти, що мають той самий масштабний ряд, що і топографічні.</p>
    <p>Схеми внутрішньогосподарського землевпорядкування, що містять також інформацію про ґрунтовий покрив, звичайно
        виготовляються в масштабах 1: 25 000 і 1: 10 000. Для населених пунктів існують архітектурні плани різних
        масштабів (1: 5000,1: 2000,1: 500), на які нанесені вулична мережа, контури будинків, межі ділянок
        землекористування, підземні і наземні інженерні комунікації. Однак ці матеріали виконані в умовній системі
        координат, і для їх використання разом з іншими джерелами необхідне виконання певних просторових
        перетворень.</p>
    <p>Різні загальногеографічні і тематичні карти також можуть бути джерелом даних для. ГІС.</p>
    <p>Дані дистанційного зондування Землі (ДЗЗ) також активно використовуються у ГІС.</p>
    <p>Вони базуються на реєстрації і подальшій інтерпретації відбитої сонячної радіації від поверхні ґрунту,
        рослинності, води та інших об'єктів. Винос пристроїв, що реєструють, у повітряний або навколоземний простір
        дозволяє одержати значно більш широке охоплення території порівняно з наземними методами досліджень. При
        дистанційному зондуванні значний вплив на якість і застосовність одержуваних даних чинять спектральний діапазон
        зйомки, просторова точність, радіометрична точність, просторове охоплення, оперативність і повторюваність
        зйомки, вартість даних.</p>
    <p>У наш час діють кілька комерційних систем дистанційного зондування, дані яких активно поширюються і на Україні.
        Досить поширені дані американської системи Landsat (рис.), французької SРОТ, індійської Іrs, російської
        «Ресурс». Дані високої просторової точності пропонуються знімальними системами Ісоnоs і QuickBird (США).</p>
    <p>Додаткова обробка й аналіз даних ДЗЗ (виділення і порівняння різних спектральних діапазонів, сполучення знімків з
        різним просторовим дозволом, класифікація і виділення зон з визначеними характеристиками) виконуються за
        допомогою спеціального програмного забезпечення. Найбільш відомими програмними пакетами обробки даних ДЗЗ є
        ЕRDAS ІМАGINE (США) і ЕrМарреr (Австралія).</p>
    <p>Дані з електронних геодезичних приладів являють собою файл із координатами та ідентифікаторами точок зйомки. У
        таких файлах також може міститися інформація про проведені виміри — вертикальні і горизонтальні кути, відстані.
        Файли даних можуть створюватися в спеціальних фірмових форматах або в звичайному текстовому форматі АSСІІ.
        Спеціальні програмні пакети для обробки даних геодезичних вимірів або модулі координатної геометрії
        інструментальних пакетів ПС (пакет Інвент-Град (Україна); програмні пакети СRЕDO) компанії «Кредо Діалог»
        (Білорусь), розширення Survеу Аnаlуst, сімейства пакетів АrсGІS компанії ЕSRІ (США) та ін.) зчитують такі дані
        за допомогою спеціальних конверторів.</p>
    <p>Текстові дані перетворюються в координати точок прив'язування, для яких за обмірюваними кутами і відстанями
        визначаються місця розташування точок по контурах об'єктів (будинків, доріг та ін.). створюється графічний
        векторний файл. Якщо прилад підтримує введення ідентифікаторів і описів об'єктів під час зйомки, ці дані можуть
        автоматично вводитися в атрибутивну базу даних.</p>
</div>