<h1>
Краснокутський
</h1>
<div class='body'>
<p>	Село Основинці Харківської області. Займає площу 13,6 га.
Він – один із найстаріших в Україні, адже заснований більше як 200 років тому Іваном Каразіним.
<p> 
Тут росте більше як 300 видів рідкісних рослин. І близько 30 представників фауни. Для майбутнього дендропарку рослини 
привозили спеціально із Японії, Китаю, Америки, Канади, Бразилії та інших країн. Зараз у Краснокутському дендропарку ростуть 
і реліктові рослини, наприклад, гінкго дволопастне, так зване дерево щастя.
<p> 
Численні озера з настільки прозорою водою, що видно, як плавають риби.
<p> 
Особливий парк тим, що тут є старовинні монаші печери і підземні ходи.
<p> 
А ще дендропарк може похвалитися чотирма джерелами-криницями з цілющою лікувальною водою. І унікальним «Музеєм яблук», що 
діє на території.
<p>	</div>
