<h1>
Веселі Боковеньки
</h1>
<div class='body'>
<p>	Долинський район Кіровоградської області. Парк займає площу 109 га. Заснований ще у 1893 році на березі 
річки Боковеньки, він є частиною селекційно-дендрологічної станції.
<p> 
Така весела назва присвоїна дендропарку на честь річки Боковенька, на якій колись любили відпочивати та веселитися козаки.
<p> 
У дендропарку росте 963 види дерев і чагарників. Серед них ви побачите багато рідкісні і реліктових рослин. Наприклад, дерево 
гинкго, залізне дерево, деревина якого тоне у воді, цегляне дерево та багато інших.
<p> 
Парк розділений на ландшафтні зони. Тут є три озера з довгими містками та очеретними заростями на берегах. Краєвид 
доповнюється водоспадом. А ще є ціла система мальовничих ставків.
<p>	</div>
