<h1>
    Водні ресурси
</h1>
<div class='body'>
    <p>Водні туристичні ресурси включають в себе моря, озера, річки, водосховища, ставки, які придатні для занять
        водними видами відпочинку, туризму та спорту. За словами В. Мацоли, не зважаючи на відносно слабку
        забезпеченість водними ресурсами Україна може задовольнити відповідні туристичні потреби практично на всій
        території.</p>
    <p>Найпотужніші не лише водні, айв цілому, туристичні комплекси України сформувалися на узбережжі теплих Чорного та
        Азовського морів. За даними Шуйського Ю. Д., довжина берегової лінії нашої держави становить 3744,6 км: Чорне
        море — 1829,1 км; Керченська протока — 64,0 км; Азовське море -799,8 км; затока Сиваш — 1051,7 км.</p>
    <p>На 1 км узбережжя припадає приблизно 160 км&sup2 площі і 12. 8 тисяч жителів України (для порівняння: Греція —
        8,7 та 70; Італія — 42 та 8,1, Хорватія — 23 та 1,7, Польща — 637 та 78,6).</p>
    <p>На Україну припадає 41,3% довжини берегів Чорного моря
    </p>
    <p>Крім того, саме північна частина моря вважається найсприятливішою з точки зору рекреації, оскільки невелика
        глибина (близько 100 м) та прихід теплих річкових вод влітку забезпечують значно більше прогрівання, ніж на
        інших ділянках. Середня температура води в літній період становить +20—1-24 °С, деінде — +27 °С. Береги Чорного
        моря в межах України переважно низовинні, за виключенням ПБК. Поширенні намивні піщані коси (Кінбурнська,
        Тендрівська, Бакальська та інші). Солоність поверх-невих вод також незначна: 14%, у лиманах — 1-10%. Вода
        Чорного моря, за виключенням районів близьких до промислових центрів та портів, є прозорою, що в сукупності з
        багатим рослинним (660 видів) та тваринним (понад 2 тисячі видів) світами є сприятливим фактором для підводного
        полювання та дайвінгу.</p>
    <p>Найкращі піщані пляжі властиві Північно-Західній, Дніпровсько-Каркінітській та Західно-Кримській, а гравійні —
        Південно-Кримській береговим областям. У той же час. Дунайська берегова лінія та узбережжя деяких лиманів через
        значну заболоченість і замуленість берегів не задіяні в рекреаційне господарство. В цілому з рекреаційною метою
        використовується дуже незначна кількість чорноморських пляжів. Крім того, руйнівну дію на пляжі мають зимові
        шторми та забирання пляжного матеріалу у якості будівельних матеріалі» їх приватизація під будівництво дач,
        барів, ресторанів, кафе, атракціонів. За даними А. Оліферова, ширина кримських пляжів скорочується на 0,3-0,5
        м/рік.</p>
    <p>Якщо не брати до уваги Сиваш, то на Україну припадає 43% найбільш якісних у рекреаційному відношенні берегів
        Азовського моря. Зважаючи на свою мілководність (пересічна глибина 7,4 м, максимальна — 15м), температура
        поверхневого шару води влітку становить +25°-+32° С. Пересічна температура (+22°-+24 °С) та вологість (55-77%)
        повітря у прибережній смузі влітку можуть бути оцінені як найсприятливіші для різноманітних туристичних занять.
        Пересічна солоність води — 13,8%о, максимальна в затоці Сиваш — 250%о. Ропа затоки Сиваш поки що
        вико-ристовується лише в якості сировини для хімічної промисловості, однак, має і важливе бальнеологічне
        значення. Прозорість води в Азовському морі невисока внаслідок значної кількості планктону, завислих частинок та
        під впливом хвильових процесів (висота хвиль у холодний період року сягає 2 м і більше). Це невелике за площею
        море (39 тис. км&sup2) має над-звичайно багатий рослинний і тваринний світ. Зокрема видовий склад риб становить
        79 видів, зустрічається азовський дельфін — азовка.</p>
    <p>Південні береги Азовського моря урвисті, погорбовані; західні та північні — переважно низькі, піщані. Особливу
        туристичну цінність мають піщані коси з чудовими пляжами: Арабатська Стрілка (довжина узбережжя — 261,8 км),
        Федотова з Бирючим Островом (166,2), Обитічна (66,5), Бердянська (43,2), Білосарайська (26,0), Крива (21,3). Дно
        моря переважно рівне, з повільним зростанням глибини, у прибережній частині вкрите піском та черепашкою, окремі
        ділянки (переважно затока Сиваш) замулені. Ці фактори перетворюють наймілководніший морський басейн світу у
        надзвичайно придатний для розвитку дитячої рекреації.</p>
    <p>Тривалість купального сезону в Азово-Чорноморському басейні становить більше 4 місяців — з кінця травня до
        початку жовтня. Однак, варто пам'ятати, що відпочинок на морі корисний не всім, а в основному практично здоровим
        людям молодого та середнього віку.</p>
    <p>В цілому озера України мають велике значення для організації туризму та відпочинку. Вони придатні для купання, рибалки,
        заняття водними видами спорту та пізнавальної діяльності. Географічно озера України об'єднуються в такі групи:
        Шацькі, Слов'янські, Турійсько-Озерянські, Перекопські, Євпаторійські, Керченські та Придунайські. Найбільшу
        бальнеологічну цінність мають приморські озера та лимани, оскільки є місцем зосередження лікувальних грязей
        (Сасик, Тилігульський, Хаджибейський, Куяльницький).</p>
    <p>Широко задіяними у туристичну галузь є озера півночі України, зокрема, Волині, Карпат. Крім Шацьких озер у
        Волинській області велике значення для відпочинку мають озера Біле, Люб'язь, Волянське, Оріхове, Турське та
        інші. Відомі туристичні зони Полісся розташовані біля озер Білого (Володимерецький р-н Рівненської обл.),
        Борового та Оріхового (Коропський р-н Чернігівської обл.), Десняка (Сосницький р-н Чернігівської обл.), Красного
        (м. Новгород-Сіверський), Нобеля (Зарічанський р-н Рівненської обл.), озера Києва.</p>
    <p>Велике естетичне забарвлення несуть у собі гірські озера Карпат, які мало придатні для купання, однак,
        зачаровують своєю красою: Бребенескул (на висоті 1801 м на р. м.), Синевир, Ворожеська, Несамовите,
        Драгобратське, Апшинецькі, Марічейка та багато інших.</p>
    <p>Надзвичайно широкий спектр туристичного використання річок. При тому, що переважна кількість річок не відіграє
        безпосередньої рекреаційної ролі, вони є невід'ємною складовою краєвиду і за певних сприятливих умов (чиста
        вода, атрактивність ландшафту) навіть невеличкі струмки приваблюють туристів. За даними В. Вишневського, в
        Україні налічується від 63 до 71 тисячі річок загальною довжиною близько 204 тис. км., з них завдовжки понад 10
        км — 3,3 тисячі загальною довжиною 94,4 тис. км.
    </p>
    <p>Пересічна густота річкової мережі становить 0,34 км/км&sup2, досягаючи свого максимуму в Карпатах — 2,0
        км/км&sup2 (в АР Крим — 0,22 км/км&sup2).</p>
    <p>Найбільше абсолютне рекреаційне навантаження припадає на Дніпро та його притоки: Прип'ять, Тетерів, Рось, Тясмин,
        Інгулець, Десну, Сулу, Псел, Ворсклу, Самару та ін. Ця найдовша водна артерія України проходить через два
        міста-мільйонери, важливі економічні та культурно-історичні центри держави (Київ, Канів, Черкаси, Кременчук,
        Дніпропетровськ, Запоріжжя, Нікополь, Нову Каховку, Херсон тощо), які виступають не лише генераторами
        туристичних потреб, а й вагомими круїзними центрами. На берегах приток Дніпра знаходяться такі міста, як Ковель,
        Луцьк, Рівне, Житомир, Біла Церква, Кривий Ріг, Чернігів, Суми, Полтава, Миргород, Павлоград тощо. Це зумовило
        розміщення великої кількості санаторіїв-профілакторіїв, баз відпочинку, дитячих таборів саме у басейні
        Дніпра.</p>
    <p>Південний Буг протікає через відносно чисті в екологічному відно-шенні регіони серед мальовничих берегів
        (особливо в межах Поділля) і вважається спеціалістами найперспективнішим районом для туристичного використання.
        В басейні Південного Бугу знаходяться такі міста як Хмельницький, Вінниця, Умань, Кіровоград, Первомайськ,
        Миколаїв тощо.</p>
    <p>Важливу і своєрідну туристичну роль виконують гірські річки Карпат, в т. ч. притоки Дністра, Пруту та Тиси. Окрім
        купання та рибалки, овіяні легендами та піснями ріки Черемош, Прут, Ріка, Тересва, Теребля, Уж, Стрий та інші
        придатні для сплавляння на байдарках та каное. Малі річки Карпат чи не єдині в Україні, з яких безпосередньо
        можна пити воду. Меандруючи Подільською височиною Дністер та його притоки утворюють казкові каньйони і дають
        змогу споглядати величні панорами, у тому числі зі стін давніх фортець. У басейні цих річок знаходяться Дрогобич
        і Трускавець, Івано-Франківськ, Галич і Коломия, Тернопіль і Заліщики, Кам'янець-Подільський, Чернівці і Хотин,
        Білгород-Дністровський і Затока, міста і курорти Закарпаття.</p>
    <p>Річки Криму (Салгир, Альма, Кача, Чорна, струмки ПБК) утворюють велику кількість водоспадів, каньйонів і тому, в
        першу чергу, є важливими екскурсійними об'єктами. Вагому туристичну функцію вони виконують для жителів
        Сімферополя, Білогірська, Нижньогірського.</p>
    <p>Сіверський Донець з головними притоками (Лопань, Лугань, Оскіл, Айдар, Деркул) є водною артерією найбільш
        індустріалізованого району України. Звідси, з одного боку, високий рівень забруднення відходами металургійної,
        хімічної та нафтохімічної промисловості (особливо в межах Луганщини), з іншого — високий рекреаційний попит на
        відпочинок біля води. В басейні Сіверського Донця розміщена величезна кількість баз відпочинку, в т. ч. курорти
        Рай-Оленівка, Святогірськ та Кремінна.</p>
    <p>Дуже забрудненим є Кілійське гирло Дунаю (в межах України лише 174 км), однак, воно цілком придатне для
        організації круїзів (Ізмаїл, Кілія, Вилкове) та екологічного туризму (Дунайський біосферний заповідник).</p>
    <p>Важливою проблемою України е забруднення та зменшення чисельності малих річок. Особливо гостро ця проблема стоїть
        перед Донецьком та Львовом, водні артерії яких перетворилися на стічні канави. Крім промислового забруднення,
        серед факторів, що обмежують рекреацію на водних об'єктах є: заболоченість берега, абразивні береги, замулення і
        заростання, висока мутність, цвітіння, близькість сільськогосподарських угідь, концентрація розчиненого
        кисню.</p>
    <p>Зарегульованість стоку дає можливість більш повного туристичного використання річок, особливо завдяки
        водосховищам. Рекреаційна цінність останніх визначається: типом ландшафту і формою берега, кіль-кісними
        характеристиками (площею, формою, глибиною), температурою води, транспортною доступністю до великих міст. В
        Україні споруджено 1160 водосховищ загальною площею понад 9 тис. км&sup2.</p>
    <p>Найбільші водосховища споруджено на Дніпрі, Дністрі та Сіверському Донці. Серед найбільших водосховищ найкраще
        туристичні потреби задовольняють Дніпровське, Дністровське, Сімферопольське,
        Ладижинське (р. Південний Буг) та інші.</p>
    <p>Водосховища суттєво впливають на гідрологічний режим та мікро-клімат прилеглої території, тому їх створення
        повинно бути екологічно обґрунтованим та економічно доцільним. В результаті господарської діяльності зменшується
        здатність до самоочищення, спостерігається «цвітіння» води, зникають цінні види риб, відбувається підтоплення
        узбереж і саме це є причиною низького залучення водосховищ Дніпра, Сіверського Донця, Інгульця, Кальміусу до
        туристичного господарства.</p>
    <p>Потреби в купанні, рибалці, деяких видах водного спорту можуть задовольнити ставки, рекреаційна цінність яких
        визначається тими ж критеріями, що й водосховищ. Кількість ставків в Україні за різними даними від 27 до 29
        тисяч, їх площа оцінюється в 2,2 тис. км&sup2. Часто саме ставок є єдиним місцем відпочинку біля води по місцю
        проживання для жителів багатьох сіл і містечок України. Особливо мальовничими є ставки, створені на місці
        колишніх гранітних (кам'яних) та піщаних кар'єрів Полісся і лісостепу.</p>
    <p>Приблизно половина всіх водосховищ та ставків створені в басейні Дніпра.</p>
    <p>Тривалість купального сезону на річках, озерах та водосховищах залежить від багатьох факторів, однак, можна
        виділити два великі регіони. На Поліссі та Заході України вона становить 90-120 днів, у центральних, східних та
        південних областях — більше 120 днів [8]. Гірські річки Карпат та Криму, зважаючи на низьку температуру води,
        високу швидкість течії та низьку глибину є взагалі малопридатними для купання.</p>
    <p>Для організації повноцінного відпочинку населення велике значення має якість води та пляжів. За гігієнічними
        нормативами вона визначається за сумою органолептичних, хімічних та бактеріологічних показників. Якість
        природного середовища водних об'єктів зазнала дуже сильного антропогенного впливу (хімізація с/г, викиди
        неочищених стічних вод, неконтрольоване будівництво і організація сміттєзвалищ та ін.), що негативно вплинуло на
        їх рекреаційне освоєння.</p>
    <p>Територія України надзвичайно багата на цікаві і атрактивні гідро-логічні об'єкти (каньйоноподібні річкові
        долини, водоспади, карстові озера, джерела цілющої води, витоки рік тощо). Більшість з них оголо-шено
        заказниками, пам'ятками природи, заповідними урочищами і всі вони можуть виступати у якості об'єктів
        пізнавальної рекреації, в тому числі і для іноземних туристів. Зокрема, витоки Тиси щороку відвідують сотні
        туристів з Угорщини. За умов мінімального розвитку туристичної індустрії в її околицях ця цифра може бути
        набагато більшою.</p>
    <p>Особливий інтерес серед водних об'єктів завжди викликали водо-спади. Особливо їх багато в Карпатах, Кримських
        горах, на Подільській височині. Зокрема на р. Стрипі поблизу с. Русилів можна спостерігати за мальовничим
        каскадом з 12 водоспадів, висота окремих з них до 13 м. Найвищим водоспадом України і одним з найвищих у Європі
        є Учансу (висота падіння води — 98,5 м). В залежності від сезону він перетворюється, то в бурхливий потік, який
        можна спостерігати навіть з набережної Ялти, то стає подібним до Бахчисарайського фонтану.</p>
    <p>Серед заказників та пам'яток природи місцевого значення особливий рекреаційний інтерес можуть викликати
        Манявський водоспад, гірське озеро Розсохан (Івано-Франківщина), Чехівська криниця (Луганщина), карстові озерця
        Вікнини (Тернопільщина), Микільське та Понятівське поселення змій (Херсонщина), Суворівська криничка та
        життєдайне джерело Богородиці (Житомирщина), джерела мінеральних вод та багато-багато інших об'єктів.</p>
</div>
