<h1>
Києво-Печерська лавра
</h1>
<div class='body'>
<p>	православний монастир, заснований у 1051 році монахами Антонієм і Феодосієм у печерах біля літньої княжої 
резиденції Брестово поблизу Києва.
<p> 
В одинадцятому столітті монастир став центром розповсюдження і затвердження християнства в Київській Русі. У дванадцятому 
столітті монастир отримав статус «лаври» – головного великого монастиря.
<p> 
У вісімнадцятому столітті Києво-Печерська лавра стала найбільшим церковним феодалом на Україні. Їй належали три міста, сім 
містечок, біля двохсот сіл і хуторів, більше семидесяти тисяч кріпаків, дві паперові фабрики, одинадцять цеглових і шість 
скляних заводів, більше ста шестидесяти винокурень і вітряків, біля двохсот шинків, два кінних заводи.
<p> 
Києво-Печерській лаврі було підпорядковано багато дрібних монастирів і так названі пустелі (зокрема, Китаєвська, Микільська 
та інші під Києвом) з їхніми угіддями і кріпаками на Україні, в Росії і в Білорусії.
<p> 
Свого часу Києво-Печервська лавра зіграла важливу роль у розвитку давньоруської культури, була центром літописання. Тут 
перекладалися на церковно-слов'янську мову і переписувалися твори іноземних авторів. У лаврі працювали відомі літописці 
Нестор (автор «Повести временных лет»), Нікон, Сільвестр. У тринадцятому столітті було складено «Києво-Печерський патерик» — важливе джерело історії Києва.
<p> 
Києво-Печерська лавра здійснювала широке будівництво ще з одинадцятого століття (Успенський собор, Троїцька надвратна церква). 
Наприкінці дванадцятого століття навколо Києво-Печерської лаври було возведено оборонні стіни (у 1240 році вони були зруйновані 
ордами Батия). У 1698-1701 
<p>	році паралельно до них було споруджено нові фортечні стіни з бійницями і баштами. У 1731-1744 році 
споруджено велику лаврську дзвіницю, висота якої — 96,52 метра.
<p> 
На території лаври поховано багато видатних осіб, зокрема, біля трапезної — генеральний суддя українського війська В. Кочубей 
і полтавський полковник І. Іскра. У Спаса на Брестові церкви — засновник Москви Юрій Долгорукий.
У музеях і фондах, розташованих на території Києво-Печерської лаври, можна побачити рукописи стародрукованих книг, колекцію 
тканин і вишивок. Особливий інтерес викликає колекція з дорогоцінних металів, стародавні гравюри і твори сучасних художників.
Споруди Києво-Печерської Лаври: Велика Дзвіниця, Ближні печери, Дальні печери, Свято-Успенський собор (1073,2000), 
Всіхсвятська церква, Трапезна Палата, Троїцька надбрамна церква</div>
