<h1>
Саги
</h1>
<div class='body'>
<p>	Ландшафтний заказник площею 500га. Розташований в Цюрупинському районі. На території заказника охороняються лісові ценози, псамофіти і степи, 
згладжені піщані кучугури, озера, болотні ценози. Серед лісових ділянок важливе місце займає природна рослинність — рідкісні формації берези дніпровської та ковили 
дніпровської, а також зарості вільхи звичайної. З рідкісних видів зустрічається гадюка звичайна, зростають зозулинець болотний, целокаулон степовий та ін. Озера та 
заболочені ділянки є місцем гніздування та перебування значної кількості птахів. Шкоду заказнику наносять пожежі в соснових лісах, а також недавно побудований 
автомобільний шлях.
<p>	</div>
