<h1>
Сторожинецький
</h1>
<div class='body'>
<p>	Місто Сторожинці Чернівецької області. Займає площу 17,5 га.
<p> 
Дендропарк є одним із найстаріших у Європі. Адже був заснований ще у 1912 року і створювався він зі звичайного лісового 
масиву. Тому ще зараз тут ростуть 200- і 100-літні дуби, клени і ясени.
<p> 
Найрізноманітніші екзотичні квіти цвітуть тут навіть у холодні пори року. Загало Сторожинецький дендропарк мможе похвалитися 
понад 1000 видів дерев і чагарників з різних куточків світу.
<p> 
Знаменитою є велична липова алея. Алея закоханих та алея дружби. До речі, останню назвали так тому, що багато гостей 
дендропарку садили тут щось своє. Цікаво, що й тепер тут росте Тарасова верба. Колись ця гілочка була привезена із Казахстану. 
Коли Кобзар їхав на заслання, то взяв із собою вербову гілочку. У далекій землі вона прижилася, а могутнє дерево, що виросло 
з неї, живе досі.
<p>	</div>
