<h1>
Просторова інформація в ГІС
</h1>
<div class= "body" >
<p>Просторова (картографічна) інформація є основою інформаційного блока ГІС, тому способи її формалізації є найважливішою складовою частиною технології географічних інформаційних систем. Просторова інформація ПС містить метричну частину, що описує позиційні властивості об'єктів, а також пов'язані з нею змістовні (семантичні, тематичні) атрибути, чи просто — «атрибути», як їх прийнято називати в англомовній науковій літературі. Просторові дані вводяться і зберігаються в комп'ютері у формалізованому вигляді. Використовуються два основних способи формалізації просторових даних — растровий і векторний, відповідні двом принципово різним способам опису (моделям) просторових даних. У першому способі просторова інформація співвідноситься з комірками регулярної сітки як з елементами території (растрове подання), у другому – використовується система елементарних графічних об’єктів, положення яких у просторі визначається за допомогою координат (векторне подання).</p>
<p>Растровий спосіб формалізації просторових даних має два різновиди – регулярних (grid сеlls) і власне растровий (raster), що принципово не відрізняються один від мереж одного, оскільки і той і інший базуються на формалізації просторової інформації за комірками (сеlls) регулярної мережі, що суцільно покриває територію. У кожній комірці цієї мережі інформація відображається одним числом.</p>
<p>У растровій моделі просторова інформація кодується у вигляді прямокутної матриці — за рядками і стовпцями, розмір якої відповідає розміру вихідного растра (рис. 1).</p>
<img src= ".\resourses\data-in-gis\article-res\1.jpg" >
<p class= "description" >Рис. 1 – Растрове подання просторової інформації а) фрагмент землекористування (1 – рілля; 2- природна степова рослинність; 3- ліс); б) його растрове подання; в) відповідний масив цифрових даних</p>
<p>У зв'язку з цим положення кожного елемента растра в просторі визначається номерами стовпця і рядка, у яких розміщений даний елемент. При растеризації картографічних зображень стовпці звичайно розміщуються в напрямку північ-південь, а рядки — захід-схід. Як початкова комірка (з координатами 0,0 чи 1,1) найчастіше використовується комірка, розміщена у верхньому (або нижньому) лівому куті растра</p>
<p>Поєднання семантичної і позиційної інформації, що є основним позитивом растрових моделей просторових даних, у той самий час обумовлює один з їх істотних негативів — необхідність великої ємності пам'яті для збереження оцифрованих даних у комп'ютері. Так, стандартний знімок зі штучного супутника Землі США серії Ландсат (Lаndsat), що охоплює близько 30 000 км&sup2 при номінальному розмірі пікселя 30*30 м, складається з 35 млн пікселів, що еквівалентно приблизно 35 Мб при записі у форматі 1: 1.</p>
</div>