<h1>
Державний історико-архітектурний заповідник Хотинська фортеця
</h1>
<div class='body'>
<p>	Розташований на важливих транспортних магістралях, Хотин завжди привертав увагу завойовників. З метою 
захисту від них була споруджена фортеця, яка пережила століття і бачила під свої­ми мурами полчища воїнів Османської імперії, 
повстанців Мухи, народних месників Дитинки, вояків Дмитра Вишневецького, Петра Дорошенка. Під час визвольної війни українського 
народу проти польської шляхти у Хотин двічі вступали війська Богдана Хмельницького.
<p> 
Хотин, що приваблює туристів з усього світу, одне з найдавніших міст України, нещодавно відсвяткував своє 1000-річчя. На 
початку XI ст. київський князь Володимир Великий створив систему прикордонних фортець на заході й півдні своєї держави, у тому 
числі Хотин.
<p> 
Сьогодні Хотин — одне з найбільших міст Чернівецької області, важливий промисловий, туристичний і культурний центр Буковини. У 
вересні 1991 р. під час свята з нагоди 370-річчя Хотинської битви було відкрито монумент на честь гетьмана України Петра 
Сагайдачного (скульптор І. Гамаль).
<p> 
У Хотинській фортеці проводилися зйомки багатьох популярних художніх фільмів: Гадюка, Захар Беркут, Балада про доблесного
лицаря Айвенго, Три мушкетери, Чорна стріла, Стара фортеця, Стріли Робін Гуда. Серед недавніх — екранізація 
кіностудією їм. Олександра Довженка твору відомого українського письменника Юрія Мушкетика Яса.</div>
